*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
crash_log.txt
crash_detail.txt
aptox_variables.json
color_va.json
aptox-release.jks

# Firebase Functions
functions/node_modules
functions/*-adminsdk-*.json
